# Ignore Python virtual environments
myenv/
venv/
.env/

# Ignore cache and logs
__pycache__/
*.pyc
*.log

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore dataset (optional if too large, or upload separately)
data/
